# Python
virtual environment/
__pycache__/
*.pyc
.env

# Django
db.sqlite3

# Node
node_modules/

# OS
.DS_Store

# EMAIL_HOST_USER = 'saurabhchaudhary0019@gmail.com'
# EMAIL_HOST_PASSWORD = 'xqxj xdxg mwyg rbew'
